# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folders
cmake-build-*/
build/
.idea/

# Python virtual environments
venv/
.venv/

# Xcode templates/user data
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xcuserstate

# OS-specific files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Desktop.ini
